{% extends 'base/base.html' %}

{% block title %}Categorias{% endblock %}

{% block content %}


<!-- Section -->
<section class="products-carousel">
    <div id="carouselProducts" class="carousel slide">
        <div class="carousel-inner">
            {% for product in products_on_sale %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <div class="card mb-3">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.sale_price }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay productos en oferta en este momento.</p>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

{% endblock %}
