.custom-navbar {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  padding: 10px; /* Ajusta el padding según sea necesario */
}

.navbar-content {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  position: relative; /* Permite la colocación relativa del contenido */
}

.logo-form-container {
  display: flex;
  align-items: center; /* Centra el logo verticalmente */
  position: absolute; /* Permite centrar el logo en el contenedor principal */
  left: 50%;
  transform: translateX(-50%); /* Centra el logo horizontalmente */
  margin-top: 40px; /* Ajusta el espacio arriba del logo */
  margin-bottom: 20px; /* Ajusta el espacio debajo del logo */
}

.custom-logo {
  display: flex;
  align-items: center; /* Centra verticalmente la imagen */
}

.custom-logo img {
  max-height: 70px; /* Ajusta la altura máxima de la imagen según sea necesario */
  width: auto; /* Mantiene la proporción de la imagen */
}

.form-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido del formulario */
  margin-left: auto; /* Mueve el formulario a la derecha del contenedor */
}

.navbar-toggler {
  margin-right: 10px; /* Espacio entre el botón de colapso y el logo */
}

.nav-links-container {
  width: 100%; /* Asegura que el contenedor de enlaces ocupe todo el ancho */
  display: flex; /* Usa flexbox para alinear los enlaces horizontalmente */
  justify-content: center; /* Centra los enlaces horizontalmente */
  margin-top: 40px; /* Añade espacio arriba de los enlaces */
}

.nav-links {
  display: flex; /* Muestra los elementos de la lista en línea horizontalmente */
  padding: 0;
  margin: 0;
  list-style: none; /* Quita los puntos de la lista */
}

.nav-links li {
  margin: 0 5px; /* Espacio entre los enlaces */
}

.nav-links a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: inherit; /* Usa el color del texto del contenedor */
}

.header-content {
  margin-top: 30px; /* Ajusta este valor para bajar el contenido del encabezado */
}

.top-banner {
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color de texto blanco */
  text-align: center; /* Centra el texto */
  padding: 10px 0; /* Espaciado arriba y abajo */
  font-size: 16px; /* Tamaño de fuente */
}