{% extends 'base/base.html' %}

{% block title %}Actualizar Usuario{% endblock %}

{% block content %}
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <br><br>
                <strong>Información de usuario</strong>
                <br><br>
                <form method="POST" action="{% url 'update_info' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><br>
                    <strong>Información de dirección de envío</strong>
                    <br><br>
                    {{ shipping_form.as_p }}
                    <br><br>
                    <button type="submit" class="btn btn-secondary">Actualizar perfil</button>
                </form>
                <br><br>
            </div>
        </div>
    </div>
    
{% endblock %}
