.custom-navbar {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  padding: 10px; /* Ajusta el padding según sea necesario */
}

.navbar-content {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  position: relative; /* Permite la colocación relativa del contenido */
}

.logo-form-container {
  display: flex;
  align-items: center; /* Centra el logo verticalmente */
  position: absolute; /* Permite centrar el logo en el contenedor principal */
  left: 50%;
  transform: translateX(-50%); /* Centra el logo horizontalmente */
  margin-top: 40px; /* Ajusta el espacio arriba del logo */
  margin-bottom: 20px; /* Ajusta el espacio debajo del logo */
}

.custom-logo {
  display: flex;
  align-items: center; /* Centra verticalmente la imagen */
}

.custom-logo img {
  max-height: 70px; /* Ajusta la altura máxima de la imagen según sea necesario */
  width: auto; /* Mantiene la proporción de la imagen */
}

.form-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido del formulario */
  margin-left: auto; /* Mueve el formulario a la derecha del contenedor */
}

.navbar-toggler {
  margin-right: 10px; /* Espacio entre el botón de colapso y el logo */
}

.nav-links-container {
  width: 100%; /* Asegura que el contenedor de enlaces ocupe todo el ancho */
  display: flex; /* Usa flexbox para alinear los enlaces horizontalmente */
  justify-content: center; /* Centra los enlaces horizontalmente */
  margin-top: 40px; /* Añade espacio arriba de los enlaces */
}

.nav-links {
  display: flex; /* Muestra los elementos de la lista en línea horizontalmente */
  padding: 0;
  margin: 0;
  list-style: none; /* Quita los puntos de la lista */
}

.nav-links li {
  margin: 0 5px; /* Espacio entre los enlaces */
}

.nav-links a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: inherit; /* Usa el color del texto del contenedor */
}

.header-content {
  margin-top: 30px; /* Ajusta este valor para bajar el contenido del encabezado */
}

/* Barra de Login */

.top-banner {
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color de texto blanco */
  padding: 20px 0; /* Espaciado arriba y abajo */
  font-size: 16px; /* Tamaño de fuente */
  display: flex; /* Flexbox para alineación */
  justify-content: center; /* Centrar el texto principal */
  align-items: center; /* Alinear elementos verticalmente */
  position: relative; /* Para posicionar el texto en el centro */
  min-height: 50px; /* Altura mínima para la barra */
}

.top-banner .banner-text {
  position: absolute; /* Posicionar absolutamente dentro del contenedor */
  left: 50%; /* Mover al centro horizontalmente */
  transform: translateX(-50%); /* Ajustar para centrar exactamente */
  text-align: center; /* Centrar texto */
}

.top-banner .auth-links {
  position: absolute; /* Posicionar absolutamente dentro del contenedor */
  right: 10px; /* Alinear a la derecha con un pequeño margen */
  display: flex; /* Flexbox para los enlaces */
  gap: 15px; /* Espaciado entre enlaces */
}

.top-banner a {
  color: #fff; /* Color blanco para los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
}

.top-banner a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

.top-banner .auth-links i {
  margin-right: 5px; /* Espaciado entre el icono y el texto */
}

.top-banner .login-button,
.top-banner .logout-button,
.top-banner .register-button {
  display: flex;
  align-items: center;
}


/* Mensajes de alertas */
.alert-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.alert {
  margin-bottom: 10px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}
.alert.hidden {
  opacity: 0;
  transform: translateY(-20px); /* Opcional: Mueve el mensaje hacia arriba mientras se desvanece */
}


/* Subcategorias */

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}