{% load static %}
 <!-- Franja superior -->
 <div class="top-banner">
  Compra con hasta 6 cuotas sin interés
</div>
<nav class="custom-navbar navbar navbar-expand-lg">
  <!-- Contenedor de elementos de la barra de navegación -->
  <div class="navbar-content d-flex align-items-center justify-content-between w-100">
    <!-- Botón de colapso para dispositivos móviles -->
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenedor del logo y del formulario -->
    <div class="logo-form-container d-flex align-items-center">
      <!-- Logo -->
      <a href="{% url 'home' %}" class="custom-logo">
        <img src="{% static 'img/IconoCherry.png' %}" alt="Logo de Mi Empresa">
      </a>
    </div>

    <!-- Formulario -->
    <div class="form-container d-flex align-items-center">
      <form>
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>

  <!-- Contenedor de enlaces con colapso -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="nav-links-container">
      <ul class="nav-links navbar-nav">
        {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
</nav>
