{% extends 'base.html' %}

{% block title %}Registrarte{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <br>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                {{ form.as_p}}
                <br>
                <button type="submit" class="btn btn-secondary">Register</button>
                
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}
