{% extends 'base/base.html' %}

{% block title %}Información de facturación{% endblock %}

{% block content %}
<section class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                
                <div class="card-header">
                    Resumen del pedido
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Valor: 
                            {% if product.is_sale %}
                                $ {{ product.sale_price|floatformat:0  }}
                            {% else %}
                                $ {{ product.price|floatformat:0  }}
                            {% endif %}
                        </p>
                        <p class="card-text">
                            Cantidad : {% for key, value in quantities.items %}
                            {% if key == product.id|slugify %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                        </p>
                    {% endfor %}
                    <p class="card-text">
                        Total a Pagar : $ {{ totals }}
                    </p>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Actualizar carrito</a>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-header">
                    <h3>Datos de envío</h3>
                </div>
                <div class="card-body">

                    {% if shipping_form.is_bound and shipping_form.is_valid %}
                    <p>Nombre: {{ shipping_form.cleaned_data.shipping_full_name }}</p>
                    <p>Correo: {{ shipping_form.cleaned_data.shipping_email }}</p>
                    <p>Dirección : {{ shipping_form.cleaned_data.shipping_address1 }}</p>
                    <p>Ciudad: {{ shipping_form.cleaned_data.shipping_city }}</p>                    
                    <p>Estado: {{ shipping_form.cleaned_data.shipping_state }}</p>
                    <p>Código Postal: {{ shipping_form.cleaned_data.shipping_zipcode }}</p>
                    <p>País: {{ shipping_form.cleaned_data.shipping_country }}</p>
                {% endif %}

                        <br>
                        <a href="{% url 'payment_checkout'%}" class="btn btn-secondary">Actualizar envío</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Información de facturación
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}
                        <br>
                        <br>
                        <button  type="submit" href="{% url 'payment_checkout'%}" class="btn btn-secondary">Pagar ahora</button>
                        <br>
                        <br>
                    </form>
                  
                </div>
                
            </div>
            
    <br>
    <br>
</section>


{% endblock %}