{% extends 'base/base.html' %}

{% block title %}Orden{% endblock %}

{% block content %}
<section class="container">
    <br>
    <br>
    <div class="row">
        <center>
            <div class="card">
                <div class="card-header">
                    Orden {{ order.id }} - ${{ order.amount_paid }}
                </div>
                <div class="card-body">
                    Correo: {{ order.email }}<br>
                    {% if order.date_shipped %}
                        Fecha de envío: {{ order.date_shipped }}
                    {% else %}
                        Fecha de la orden: {{ order.date_ordered }}
                    {% endif %}
                    <br>
                    Nombre Completo: {{ order.full_name }}<br>
                    Dirección de envío: {{ order.shipping_address }}
                    <br><br>
                    {% for item in items %}
                        Producto: {{ item.product }} - {{ item.quantity }} - ${{ item.price }}<br>
                    {% endfor %}
                    <br><br>
                    {% if not order.shipped %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="true">
                        <button type="submit" class="btn btn-success">Marcar como enviado</button>
                    </form>
                    {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="false">
                        <button type="submit" class="btn btn-danger">Marcar como no enviado</button>
                    </form>
                    {% endif %}
                    
                </div>
            </div>
        </center>
       
    </div>  
</section>

{% endblock %}