{% extends 'base/base.html' %}

{% block title %}Tablero enviado{% endblock %}

{% block content %}
<section class="container">
    <br>
    <br>
    <div class="row">
        <center>
            <div class="col-8">
           
                <table class="table table-striped table-hover table-bordered">
                    <h1>Artículos enviados</h1>
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Orden</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Envío</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in orders %}
                      <tr>
                        <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
                        <td>{{ item.amount_paid }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.date_shipped }}</td>
                        <td>
                          <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false">
                            <input type="hidden" name="num" value={{item.id}}>
                            <button type="submit" class="btn btn-danger btn-sm">Marcar como no enviado</button>
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </center>
       
    </div>  
</section>

{% endblock %}